<html>
<head>

<link rel="stylesheet" href="./stylesheets/style.css">

</head>
<body>
<div class="title"><%=title%></div>
<a href="/auth/facebook" class="facebook">Sign in with Facebook</a>
</body>
</html>