<html>

<head>

<link rel="stylesheet" href="./stylesheets/style.css">

</head>

<body>
    <div>
        <img class="profileImg" src="<%=user.image%>">
        <div class="profileName"><%=user.name%></div>
    </div>
</body>

</html>